{% extends 'base.html' %}
{% block title %}역대 총학생회 | 경북대학교 총학생회{% endblock %}

{% block contents %}
    <div id="wrapper">
        <div id="container">

                <div class="side-menu">
                    <p class="main-title">역대 총학생회</p>
                    <ul class="menu">
                        <li>
                            <a class=" " href="/instructions/">총학생회장단 인사</a>
                        </li>
                        <li>
                            <a class=" " href="/instructions/depart/">총학생회 조직도</a>
                        </li>
                        <li>
                            <a class="current" href="#">역대 총학생회</a>
                        </li>
                    </ul>
                </div>


                <div class="depart">
                    <h2 id="container_title">역대 총학생회</h2>
                    <span class="path">홈 > 총학생회 소개 > 역대 총학생회</span>
                    <div class="content">
                        여기는 총학역사 페이지
                    </div>
                </div>

        </div>

    </div>
{% endblock %}