{% extends 'base.html' %}
{% block title %}총학생회장단 인사 | 경북대학교 총학생회{% endblock %}

{% block contents %}
    <div id="wrapper">
        <div id="container">

                <div class="side-menu">
                    <p class="main-title">총학생회 소개</p>
                    <ul class="menu">
                        <li>
                            <a class="current" href="#">총학생회장단 인사</a>
                        </li>
                        <li>
                            <a class=" " href="depart/">총학생회 조직도</a>
                        </li>
                        <li>
                            <a class=" " href="history/">역대 총학생회</a>
                        </li>
                    </ul>
                </div>


                <div class="intro">
                    <h2 id="container_title">총학생회장단 인사</h2>
                    <span class="path">홈 > 총학생회 소개 > 총학 인사</span>
                    <div class="content">
                        여기는 총학 인사
                    </div>
                </div>

        </div>

    </div>
{% endblock %}