{% extends 'base.html' %}
{% block title %}중앙집행위원회 | {{ category }}{% endblock %}
{% block contents %}
<div id="wrapper">
    <div id="container">
        <div class="side-menu">
            <p class="main-title">중앙운영위원회</p>
            <ul class="menu">
                        <li><a class=" " href="{% url 'operation:category_all' 'introduction' %}">단위별 소개</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-상주학생위원회</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-총동아리연합회</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-인문대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-사회과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-자연과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-경상대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-공과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-IT대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-농업생명과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-예술대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-사범대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-의과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-치과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-수의과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-생활과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-간호대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-약학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-생태환경대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-과학기술대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-행정학부</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/#">-자율전공부</a></li>
                        <li><a class=" " href="{% url 'operation:category_all' 'board' %}">게시판</a></li>
            </ul>
        </div>
        <div class="board-list">
            <h2 id="container_title">{{ category }}<span class="sound_only"> 목록</span></h2>
            <span class="path">홈 > 중앙운영위원회 > {{category}}</span>
            <!-- 게시판 카테고리 시작
            <nav id="bo_cate">
                <h2> 단위 목록</h2>
                <ul id="bo_cate_ul">
                    <li><a href="#" id="bo_cate_on">가</a></li>
                    <li><a href="#" id="bo_cate_on">나</a></li>
                    <li><a href="#" id="bo_cate_on">다</a></li>
                    <li><a href="#" id="bo_cate_on">라</a></li>
                    <li><a href="#" id="bo_cate_on">마</a></li>
                </ul>
            </nav>
            게시판 카테고리 끝 --// 여기도 중복되는거같아서 그냥 뺌-->
            <div class="tbl_head01 tbl_wrap">
            <table>
            <caption> {{category}} 목록</caption>
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">글쓴이</th>
                        <th scope="col">날짜</th>
                    </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                <tr class="">
                    <td class="td_num">{{post.id}}</td>
                    <td class="td_subject"><a href="{% url 'operation:post_detail' post.category post.id %}">{{post.title}}</a></td>
                    <td class="td_name sv_use"><span class="sv_member">{{post.author}}</span></td>
                    <td class="td_date">{{post.created|date:"m-d"}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>





    </div>
</div>
{% endblock %}