{% extends 'base.html' %}
{% block title %}중앙운영위원회 | 사범대학{% endblock %}

{% block contents %}
    <div id="wrapper">
        <div id="container">

                <div class="side-menu">
                    <p class="main-title">중앙운영위원회</p>
                    <ul class="menu">
                        <li>
                            <a class=" " href="{% url 'operation:category_all' 'introduction' %}">국별 소개</a>
                        </li>
                        <li>
                            <a class="inner-menu" href="/operation/introduction/nurse/">-간호대학</a>
                        </li>
                        <li>
                            <a class="inner-menu" href="/operation/introduction/ksd/">-경상대학</a>
                        </li>
                        <li>
                            <a class="inner-menu" href="/operation/introduction/engineering/">-공과대학</a>
                        </li>
                        <li>
                            <a class="inner-menu" href="/operation/introduction/scitech/">-과학기술대학</a>
                        </li>
                        <li>
                            <a class="inner-menu" href="/operation/introduction/teacher/">-사범대학</a>
                        </li>
                        <li>
                            <a class="inner-menu" href="/operation/introduction/lifesci/">-생명과학대학</a>
                        </li>
                        <li>
                            <a class="inner-menu" href="/operation/introduction/freemajor/">-자율전공학부</a>
                        </li>
                        <li>
                            <a class="inner-menu" href="/operation/introduction/administration/">-행정학부</a>
                        </li>
                        <li>
                            <a class="inner-menu" href="/operation/introduction/sangju/">-상주위원회</a>
                        </li>
                        <li>
                            <a class=" " href="{% url 'operation:category_all' 'board' %}">게시판</a>
                        </li>
            </ul>
                </div>


                <div class="intro">
                    <h2 id="container_title">사범대학 소개</h2>
                    <span class="path">홈 > 중앙운영위원회 > 사범대학</span>
                    {% load static %}
                    <div class="content">
                        <p class="sub-title" style="text-align: center;">
                            <span style="font-size: 23px;">대충 제목</span>
                        </p>
                        <p><img src="{% static 'teacher1.png' %}" style="width:50%;"><img src="{% static 'teacher2.png' %}" style="width:50%;"></p>
                        <p>
                            <span stlye="font-size: 20px;">제51대 경북대학교 사범대학 학생회는 ‘그대가 원하는 그대로’라는 슬로건을 내걸고 활동하고 있습니다. ‘그대가 원하는’은 소통을 의미하고, ‘그대로’는 실천을 의미합니다. 즉, 사범대학 1300 학우들의 목소리를 듣고 소통하여, 반드시 실천한다는 기조를 가진 학생회입니다. 학우들과의 소통과 실천을 위해, 매주 운영위원회와 집행위원회 회의를 정기적으로 개의하고 있으며, 경북대학교에서 가장 많은 16개 학과 및 전공 학우들의 목소리를 듣기 위해 노력하고 있습니다. 또한, 집행위원회에 4개의 국을 두어 학생회의 여러 업무들을 효율적으로 진행하고, 학우들에게 더 나은 복지를 제공하고 있습니다. 경북대학교 사범대학 학우들이 더 나은 환경에서 학교생활을 할 수 있도록 노력하는 학생회가 되겠습니다.</span>
                        </p>

                            <p><img src="{% static 'teacher3.png' %}" style="width:100%;"></p>


                </div>

        </div>

    </div>
{% endblock %}
